/* CSS Setting */
html, body{
	min-height: 100%;
}
body{margin: 0;padding: 0;width: 100%;height:auto;margin: auto;/*color: #6b7485;*/
font-family: '文泉驛微米黑 Regular', '文泉驛微米黑','Arial Negreta cursiva', 'Arial','微軟正黑體';
background-color:#EEEEEE;-webkit-font-smoothing:antialiased;font-size:15px;}
span{font-size:12px;}
a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video{margin: 0;padding: 0;border: 0;transition:opacity .2s ease,color .2s ease,background .2s ease,box-shadow .2s ease,border .2s ease;font-family: '微軟正黑體';font-weight: 400;}
 *:focus { outline: none; }
a{text-decoration: none;}


/* Gobal CSS */
.content{position: relative;margin-top: 70px;width: 100%;margin: auto;min-height:100%;transition: height .2s;-webkit-transition: height .2s;}	
.hr{border-width: 0;height: 1px;color: rgba(0,0,0,0.1);background-color: rgba(0,0,0,0.1);}
.vertical{width: 2px;height: 50px;}
.OnlyViewOnWeb{display: none;}
.lastUpdateDate{color:#888888;}
.footer{width: 100%;height: 30px;background: #888888;position: absolute;bottom: 0;display: none;}
	#fContent{text-align: center;color: #ffffff;}
	.footer ul{line-height: 30px;}
	.footer ul li{list-style: none;}

#correctIcon{width:200px;height:200px;position:absolute;right: -0px;top: 50px;z-index: -1;}
	.correct{height: 20px;background: #f4d430;border-radius: 12px;position: absolute;}
	.correctLeft{width: 90px;-webkit-transform: rotate(50deg);top:40px;}
	.correctRight{width: 190px;-webkit-transform: rotate(-50deg);left: 30px;}

#startIcon{border-top: 70px solid #eeeeee;border-bottom: 70px solid #eeeeee;border-left: 120px solid #2aed44;border-radius: 10px;position: absolute;right: 30px;top: 50px;z-index: -1;}

#alarmIcon{width: 200px;height: 200px;position: absolute;right: 70px;top: 80px;z-index: -1;}
	.alarmTri{width: 50px;height: 16px;background: #ef6262;position: absolute;border-radius: 10px;}
	.alrmTriLeft{left: 130px;width: 170px;-webkit-transform: rotate(55deg);}
	.alrmTriRight{right: -10px;width: 170px;-webkit-transform: rotate(-55deg);}
	.alrmTriBottom{top: 65px;width: 190px;left: 75px;}
	.alrmTop{height: 70px;width: 16px;right: 25px;top: -30px;}
	.alrmBot{right: 25px;top: 45px;width: 16px;}


/* only for login page */
.LogInPage{padding:0px;width: 100%;text-align: center;margin: auto;}
	.mainLogo{width: 80%;margin: 50px 10% 60px 10%;}
	.mainLogo img{width:100%;}
	.inputDiv{padding: 15px 5px;background-color: #ffffff;width:85%;border-radius: 3px;margin: auto;margin-top: 20px;}
	.inputType{width:95%;height: 20px;border: none;font-size: 15px;}
	.SubmitDiv{margin-top: 100px;position: relative;margin-bottom: 25px;}
	.szError{position: absolute;top: -75px;color: red;}
	.buttonType{background-color: #111d6d;padding: 17px 22px;color: #ffffff;border-radius: 3px;font-size: 15px;}

/* only for index page */
.topDiv{position: fixed;background-color: rgba(17,29,109,0.9);width: 100%;height: 40px;top:0;overflow: hidden;z-index: 3;}
	.logo{width: 100px;margin: auto;}
	.logBtn{color: #ffffff;padding: 12px 4px;height:100%;font-size: 15px;float: right;margin-right: 15px;border-radius: 3px;}
	.logBtn:hover{background: #6771b2;box-shadow: 0px 0px 2px #000000;}
.menuIcon{float: left;margin-top: 8px;margin-left: 10px;width: 15px;height: 15px;}
.menuIcon:hover{cursor: pointer;}
	.row{width: 24px;height: 2px;background: #ffffff;margin: 4px 8px;}
	.cross{position:absolute;width: 24px;height: 2px;background: #ffffff;top: 18px;left:20px;display: none;}
		#crossOne{-webkit-transform: rotate(45deg);transform: rotate(45deg);}
		#crossTwo{-webkit-transform: rotate(-45deg);transform: rotate(-45deg);}


/* menu */
.menuDiv{width: 100%;position:fixed;height: 100%;background-color: rgba(17,29,109,0.9);z-index: 5;top: 40px;display: none;}
	.topTriangle{display: none;}
	.menuList{}
		.menuFactory{width: 100%;margin-left: 7%;margin-top: 5%;}
		.menuFactory li{list-style: none;}
		.fName{font-size: 15px;position:relative;font-weight: 400;color: #d4d9fc;}
			.menuCncGroup{margin: auto;padding-left: 7%;margin-left:3%;}
			.menuCncGName li{color: #d4d9fc;font-size:12px;width: 25%;height: 25px;border: 1px solid #d4d9fc;margin-top: 7px;line-height: 25px;text-align: center;display: inline-block;position: relative;}
			#menuBarStatus{width: 100%;position: absolute;top: 25px;left: 0;z-index: -1;margin: 0;display: none;}

.factoryDiv{width: 100%;position: relative;margin-top: 50px;}
	.factoryTitle{text-align: left;margin-left: 3%;font-size: 15px;padding-top: 15px;}
	.factoryTitle span{font-size: 15px;}
	.factoryTitle a{font-size: 12px; color: black;}
		.factoryName{font-size: 10px;font-weight: 700;position: relative;color: #333333;}
	.cncGroupDiv{width: 95%;text-align: left;padding-left: 3%;margin-top: 2px;}
		.cncGroupUl{list-style: none;}
		.cncGroupUl a{color:#000000;}
		.cncGroupUl li{padding:10px 4px;background:#ffffff;font-size:12px;display: inline-block;width: 43%;height: 65px;margin: 3px;border-radius: 3px;text-align: center;line-height: 12px;box-shadow: 0px 2px 2px 1px #888888;}
			.GStatusBar{width: 94%;height: 15px;border:1px solid rgba(0,0,0,0.1);border-radius: 3px;overflow: hidden;margin-top: 5px;margin-left: 2%;}
				.StatusElement{height: 100%;display: inline;margin: 0;padding: 0;float: left;text-align: center;display: none;}
				.StatusElement span{font-size: 9px;line-height: 15px;color: #888888;}
				.GreenStatus{background: #8af779;}
				.YellowStatus{background: #fff770;}
				.RedStatus{background: rgba(255, 58, 58,0.5);}

/* only for cncGroup */

.factoryName{font-size: 20px;}
.factoryIcon{width: 25px;height: 25px;background-size: 25px 25px;top:	 0;left: -30px;}
.selectCNCStatus{width: 90%;text-align: center;margin: 10px 5% 10px 5%;border: none;height: 25px;border-radius: 3px;font-size: 12px;}
.selectCNCStatus option{border: none;}
.cncDiv{width: 95%;margin:auto;text-align: center;margin-bottom: 15px;padding-bottom: 20px;}
	.cncUl{list-style: none;}
	.cncUl a{color:#111d6d;font-size: 12px;}
	.cncUl li{position:relative;padding:15px 3px;width: 95%;height: 30px;margin: 2px 5px;display: inline-block;text-align: left;background: #ffffff;box-shadow: 0px 2px 5px 0px #888888;overflow: hidden;}
	.cncUl li .lastUpdateDate{color:#888888;position: absolute;overflow: hidden;bottom: 0px;right:0px;font-size: 8px;}
		.light{color: #000000;height: 100%;width: 100%;position: absolute;left: 0px;top: 0px;}
		.light span{line-height: 30px;font-weight:700;position: absolute;left: 75px;font-size: 15px;}
		#alarmBG{background: rgb(255,112,112);}
		#startBG{background: rgb(138,247,121);background: -moz-linear-gradient(left, rgba(138,247,121,1) 0%, rgba(238,238,238,1) 97%);background: -webkit-linear-gradient(left, rgba(138,247,121,1) 0%,rgba(238,238,238,1) 97%);background: linear-gradient(to right, rgba(138,247,121,1) 0%,rgba(238,238,238,1) 97%);filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8af779', endColorstr='#eeeeee',GradientType=1 );}
		#defaultBG{background: rgb(255,247,112);background: -moz-linear-gradient(left, rgba(255,247,112,1) 0%, rgba(238,238,238,1) 97%);background: -webkit-linear-gradient(left, rgba(255,247,112,1) 0%,rgba(238,238,238,1) 97%);background: linear-gradient(to right, rgba(255,247,112,1) 0%,rgba(238,238,238,1) 97%);filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff770', endColorstr='#eeeeee',GradientType=1 );}
		#cncOverVertical{position: absolute;top: 0;right: 105px;}
	.cncUl .cncPic img{width: 50px;z-index: 2;position: absolute;left: 10px;top: 10px;}
		#CNCserialNo{position: absolute;left: 75px;top: 30px;color: #000000;}
		#OOETitle{position: absolute;top: 5px;right: 60px;font-size: 9px;color: #888888;}
		#OOEData{position: absolute;bottom: 8px;right: 44px;font-size: 23px;font-weight: 700;}


/* only for cnc */
.statusBanner{width: 100%;height: 120px;background: #ffffff;margin-top: 30px;position: absolute;box-shadow: 0px 2px 5px 0px #888888;}
.statusBanner #OOETitle{top: 50px;right: 10px;}
.statusBanner #OOEData{font-size: 35px;text-shadow:0px 1px #888888;right: 10px;}
.statusBanner .statusName{color: #ffffff;text-decoration: none;font-size: 40px;text-shadow:0px 1px #888888;position: absolute;top: 50px;left: 25px;}
.statusBanner .statusDetail{color: #ffffff;position: absolute;font-size: 16px;text-shadow:0px 2px #888888;bottom: 10px;left: 25px;}
.OnlyAdjustOnCncPage{margin-top: -5px;padding-top: 0;margin-left: -3px;}

.cncStatus{padding: 0px;margin-top: 10px;text-align: center;}
	.currentStatus{text-align: center;padding: 5px 0px;position: relative;text-align: center;}
	.currentStatus .lastUpdateDate{position: absolute;right: 7px;bottom: 15px;}
		#cncStatusForSingle{margin-top:20px;margin-left:50px;width:20px;height: 20px;border: 2px solid #000000;background: #eeeeee;border-radius: 25px;}
		.statusName{line-height: 20px;font-size: 20px;font-weight: 700;color: #000000;text-decoration: underline;margin-bottom: 7px;}
	.cncDetail{height: auto;position: relative;margin-top: 90px;padding:30px 0px;}
		.cncImage{display: inline-block;width: 40%;}
		.cncImage img{width: 120px;}
		.cncInfo{display: inline-block;width: 55%;position: relative;}
			.cncInfoList{font-size:14px;text-align: left;position: absolute;top: -90px;left: 25px;}
			.cncInfoList li{list-style: none;}

.cncTabInfo{margin-top: 20px;}
	.tabTitle{margin:0;padding: 0;position: fixed;bottom: 0;width: 100%;background-color: #eeeeee;box-shadow: 0px -2px 5px 0px #888888;z-index: 5;}
	.tabTitle a{list-style: none;text-align: center;display:inline-block;margin: 0;padding: 0;width: 24%;color: #111d6d;}
		.tabIcon img{width: 16px;}
		.tabName{display: block;}
	.tabTitle li{margin: 0;padding: 0;display: inline-block;padding: 7px 3px;}
		#OOE{background: #ffffff;}
		#status{background: #eeeeee;}
		#alarm{background: #eeeeee;}
		#record{background: #eeeeee;}
	

	.cncOOEDiv, .cncStatusDiv, .cncAlarmDiv, .cncRecordDiv{width: 90%;height: 220px;background: #ffffff;border-radius: 3px;padding: 16px 5% 50px 5%;margin-top: -20px;position: relative;overflow: auto;}
		.OOEChart{width: 700px;height: 90%;position: absolute;left: 0px;top: 0;z-index: 1;	}

	.cncStatusDiv li, .cncAlarmDiv li, .cncRecordDiv li{list-style: none;}
	.cncStatusDiv{text-align: center;}
	.cncStatusDiv table{width: 90%;margin: auto;text-align: left;margin-bottom: 7px;}
	.cncStatusDiv td{width: 45%;}
	.cncStatusDiv table, th, td{border:1px solid #eeeeee;border-collapse: collapse;}
	.cncStatusDiv th, td{padding: 3px;}

