/* CSS Setting */
html, body{
	min-height: 100%;
}
body{margin: 0;padding: 0;width: 100%;height:auto;margin: auto;/*color: #6b7485;*/
font-family: '文泉驛微米黑 Regular', '文泉驛微米黑','Arial Negreta cursiva', 'Arial','微軟正黑體';
background-color:#EEEEEE;-webkit-font-smoothing:antialiased;font-size: 15px;}
span{font-size: 15px;}
a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video{margin: 0;padding: 0;border: 0;transition:opacity .2s ease,color .2s ease,background .2s ease,box-shadow .2s ease,border .2s ease;font-family: '微軟正黑體';font-weight: 400;}
 *:focus { outline: none; }
a{text-decoration: none;}


/* Gobal CSS */
.content{position: relative;margin-top: 70px;width: 1024px;margin: auto;min-height:100%;transition: height .2s;-webkit-transition: height .2s;}
.hr{border-width: 0;height: 1px;color: rgba(0,0,0,0.1);background-color: rgba(0,0,0,0.1);}
.footer{width: 100%;height: 50px;background: #888888;position: absolute;bottom: 0;display: none;}
	#fContent{text-align: center;color: #ffffff;}
	.footer ul{padding-top: 10px;}
	.footer ul li{list-style: none;}


/* only for login page */
.LogInPage{padding:70px 0px;width: 100%;text-align: center;margin: auto;}
	.mainLogo{width: 100%;margin-bottom: 100px;}
	.inputDiv{padding: 7px 5px;background-color: #ffffff;width:85%;border-radius: 3px;margin: auto;margin-top: 30px;}
	.inputType{width:95%;height: 30px;border: none;font-size: 18px;}
	.SubmitDiv{margin-top: 100px;position: relative;}
	.szError{position: absolute;top: -65px;color: red;}
	.buttonType{background-color: #111d6d;padding: 15px 25px;color: #ffffff;border-radius: 3px;}

/* only for index page */
.topDiv{position: fixed;background-color: #111d6d;width: 100%;height: 50px;top:0;overflow: hidden;z-index: 3;}
	.logo{width: 100px;margin: auto;}
	.logBtn{color: #ffffff;padding: 13px 15px;height:100%;font-size: 15px;float: right;margin-right: 50px;border-radius: 3px;}
	.logBtn:hover{background: #6771b2;box-shadow: 0px 0px 2px #000000;}
.menuIcon{float: left;margin-top: 10px;margin-left: 50px;width: 30px;height: 30px;}
.menuIcon:hover{cursor: pointer;}
	.row{width: 25px;height: 2px;background: #ffffff;margin: 5px 0px;}
	.cross{position:absolute;width: 25px;height: 3px;background: #ffffff;top: 22px;}
		#crossOne{-webkit-transform: rotate(45deg);transform: rotate(45deg);}
		#crossTwo{-webkit-transform: rotate(-45deg);transform: rotate(-45deg);}


/* menu */
.menuDiv{width: 300px;left:50px;position:fixed;max-height: 800px;box-shadow: 0px 2px 2px 1px #888888;background-color: #ffffff;z-index: 5;border-radius: 5px;overflow: auto;display: none;}
	.topTriangle{border-left: 20px solid #EEEEEE;border-bottom: 20px solid #ffffff;border-right: 20px solid #EEEEEE;display: inline-block;position: absolute;top: -18px;}
	.menuList{padding:17px 0px;margin-bottom: 30px;}
		.menuFactory{margin-left: 30px;margin-top: 15	px;position: relative;}
		.menuFactory li{list-style: none;}
		.fName{font-size: 20px;position:relative;font-weight: 700;}
			.menuCncGroup{border-left: 3px solid #111d6d;padding-left: 15px;margin-left: 30px;}
			.menuCncGName li{width: 150px;height: 35px;border: 1px solid #000000;margin-top: 7px;line-height: 35px;text-align: center;}
			.menuCncGName:hover li{background: #eeeeee;}

.factoryDiv{width: 100%;position: relative;margin-top: 70px;}
	.factoryTitle{text-align: left;}
		.factoryIcon{position:absolute;background: url('../images/factoryIcon.png');width: 40px;height: 40px;left:-50px;top:-7px;background-size: 40px 40px;}
		.factoryName{font-weight: 500;position: relative;color: #000000;}
		.factoryName a{color: #333333;font-size: 20px;}
		.factoryName a:hover{text-decoration: underline;}
.cncGroupDiv{width: 100%;text-align: left;margin-top: 15px;padding-left:50px;border-left: 5px solid #111d6d;}
	.cncGroupUl{list-style: none;}
	.cncGroupUl a{color:#111d6d;}
	.cncGroupUl li{padding:5px 7px;width:150px;height:136px;display: inline-block;border: 1px solid #888888;margin: 7px;border-radius: 3px;text-align: center;}
	.cncGroupUl li:hover{box-shadow: 0px 2px 1px 1px #888888;}

/* only for cncGroup */

.factoryName{font-size: 20px;}
.factoryIcon{width: 25px;height: 25px;background-size: 25px 25px;top:	 0;left: -30px;}
.selectCNCStatus{padding:7px 15px;width: 236px;text-align: center;margin: 15px 15px;border:none;height: 30px;border-radius: 3px;box-shadow: 0px 2px 3px 1px #888888;}
.selectCNCStatus:hover{cursor: pointer;}
.selectCNCStatus option{border: none;}
.lastUpdateDate{color:#888888;}
.cncDiv{}
	.cncUl{list-style: none;}
	.cncUl a{color:#111d6d;}
	.cncUl li{padding:36px 20px 26px 20px;width: 238px;height: auto;margin: 15px;display: inline-block;background: #eeeeee;border-radius: 3px;border: 1px solid #888888;position: relative;}
		.light{background:#eeeeee;color: #000000;height: 30px;width: 100%;border: 1px solid #888888;border-bottom:none;text-align: center;position: absolute;left: -1px;top: -1px;}
		.light span{line-height: 30px;}
	.cncUl li:hover{box-shadow: 0px 2px 1px 1px #888888;}

/* only for cnc */
.cncStatus{padding: 15px 10px;margin-top: 15px;}
	.currentStatus{position: relative;text-align: center;}
		#cncStatusForSingle{width:50px;height: 50px;border: 2px solid #000000;background: #eeeeee;border-radius: 25px;}
		.statusName{line-height: 50px;font-size: 25px;font-weight: 700;color: #000000;text-decoration: underline;}
	.cncDetail{padding: 25px 10px;text-align: center;margin-top: 25px;border:2px solid #eeeeee;border-radius: 3px;}
	.cncImage{display: inline-block;padding: 15px 35px;}
	.cncImage img{width: 150px;}
	.cncInfo{display:inline-block;width: 250px;text-align: left;padding: 15px 35px;}
		.cncInfoList{}
		.cncInfoList li{list-style: none;}
	.cncTabInfo{margin-top: 25px;}
		.tabTitle{margin:0;padding: 0;}
		.tabTitle a{list-style: none;width: 150px;text-align: center;display:inline-table;margin: 0;padding: 0;height: 35px;line-height: 35px;}
		.tabTitle li{margin: 0;padding: 0;}
			#status{background: #ffffff;}
			#alarm{background: #eeeeee;}
			#record{background: #eeeeee;}
		.tabTitle a:hover li{background: #ffffff;}
		.cncStatusDiv, .cncAlarmDiv, .cncRecordDiv{padding:25px 30px;width: 964px;height: 300px;background: #ffffff;border-radius: 3px;box-shadow: 0px 2px 5px 1px #888888;}
		.cncStatusDiv li, .cncAlarmDiv li, .cncRecordDiv li{list-style: none;}
