	/* only for live house */
.factoryDiv{background:#ffffff;border-radius:7px;padding:40px 20px}
.liveHouse{width: 700px;height: 700px;border: 3px solid #eeeeee;}
	.backLink{padding: 7px 10px;color: #000000;position: relative;}
	.backIcon{background: url("../images/back.png");width: 40px;height: 40px;position: absolute;background-size: 100% 100%;top: -5px;left: 0;}
	.backTitle{font-size: 20px;line-height: 40px;margin-left: 20px;}
h1{margin:10px;}
.onlyForLiveList{position: absolute;right: 20px;top: 120px;max-height: 700px;overflow: auto;width: 300px;}
	.liveIcon{width: 20px;height: 20px;border-radius: 15px;margin-right: 10px;}
.cncUl{list-style: none;}
	.cncUl a{color:#111d6d;font-size: 12px;}
	.cncUl li{position:relative;padding:15px 3px;width: 90%;height: 30px;margin: 2px 5px;display: inline-block;text-align: left;background: #ffffff;overflow: hidden;border-radius: 0px;border: none;}
	.cncUl li .lastUpdateDate{color:#888888;position: absolute;overflow: hidden;bottom: 0px;right:0px;font-size: 8px;}
		.light{color: #000000;height: 100%;width: 100%;position: absolute;left: 0px;top: 0px;border: none;}
		.light span{line-height: 30px;font-weight:700;position: absolute;left: 75px;font-size: 15px;}
		#alarmBG{background: rgb(255,112,112);}
		#OfflineBG{background: #d8d8d6;}
		#startBG{background: rgb(138,247,121);background: -moz-linear-gradient(left, rgba(138,247,121,1) 0%, rgba(238,238,238,1) 97%);background: -webkit-linear-gradient(left, rgba(138,247,121,1) 0%,rgba(238,238,238,1) 97%);background: linear-gradient(to right, rgba(138,247,121,1) 0%,rgba(238,238,238,1) 97%);filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8af779', endColorstr='#eeeeee',GradientType=1 );}
		#defaultBG{background: rgb(255,247,112);background: -moz-linear-gradient(left, rgba(255,247,112,1) 0%, rgba(238,238,238,1) 97%);background: -webkit-linear-gradient(left, rgba(255,247,112,1) 0%,rgba(238,238,238,1) 97%);background: linear-gradient(to right, rgba(255,247,112,1) 0%,rgba(238,238,238,1) 97%);filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff770', endColorstr='#eeeeee',GradientType=1 );}
		#cncOverVertical{position: absolute;top: 0;right: 105px;}
	.cncUl .cncPic img{width: 50px;z-index: 2;position: absolute;left: 10px;top: 10px;}
		#CNCserialNo{position: absolute;left: 75px;top: 30px;color: #000000;}