/* only for livehouse */
.backLink{padding: 7px 10px;color: #000000;position: relative;}
.backIcon{background: url("../images/back.png");width: 40px;height: 40px;position: absolute;background-size: 100% 100%;top: -3px;left: 0;}
.backTitle{font-size: 15px;line-height: 40px;margin-left: 20px;}

h1{position: absolute;top: 0;right: 20px;font-size: 20px;line-height: 40px;}
.liveIcon{display: inline-block;width: 16px;height: 16px;}

.liveHouse{position: relative;width: 95%;height: 500px;border: 3px solid #ffffff;margin: auto;background: #ffffff;}

	.onlyForLiveList{position: absolute;width: 100%;min-height: 10px;background: #000000;padding: 0;opacity: 0.6;}
.cncDiv span{color: #ffffff;}	
	.cncUl{text-align: left;padding: 0;margin:0;}
	.cncUl a{border: none;}
	.cncUl li{background: none;width: 24%;border: none;height: 30px;border-bottom: 1px solid #ffffff;margin: 7px 3px;padding: 0;text-align: center;padding-bottom: 5px;box-shadow: none;}
	.cncUl li span {color: #ffffff;}
	.cncUl li img{display: none;}
		#alarmBG{background:none;}
		#OfflineBG{background:none;}
		#startBG{background:none;}
		#defaultBG{background:none;}
		.light{background: none;border: none;box-shadow: none;}
		.light span{color: #ffffff;font-size: 9px;position: relative;}
