<!-- load specific js and css -->
<script type="text/javascript" src="<?php echo WEB_URL; ?>js/account.js"></script>

<div class="LogInPage" ng-controller="SyntecAccount">
	<div class="limitWebView">
		<div class="mainLogo"><img src="images/Syntec.png"></div>

		<div class="inputDiv">
			<input class="inputType" type="text" placeholder="帳號" ng-model="user" ng-Enter="login()">
		</div>
		<div class="inputDiv">
			<input class="inputType" type="password" placeholder="密碼" ng-model="password" ng-Enter="login()">
		</div>

		<!-- <select ng-model="userMode" style="margin-top: 50px;">
			<option value="">---模式選擇---</option>
			<option value="1">經營者模式</option>
			<option value="2">廠長模式</option>
		</select> -->
		
		<div class="SubmitDiv">
			<span class="szError">{{errorMsg}}</span>
			<a href="javascript:;" class="buttonType" ng-click="login()">登入</a>
		</div>
	</div>
</div>