.settingBigDiv{
	margin-top: 22vw;
	margin-left: 5vw;
	margin-bottom: 10vw;
}

.settingBigDiv .backLink{
	color: #000000;
}
.settingBigDiv .backLink .back_icon{
	display: inline-block;
	width: 6vw;
	height: 6vw;
	background: url(../../images/back_icon.png);
	background-size: 6vw auto;
}

.settingBigDiv .settingDiv .settingSubTitle{
	background: #ffffff;
	position: absolute;
	left: 0;
	top: -9vw;
	padding: 2vw;
}
.settingBigDiv .settingDiv{
	position: relative;
	width: 90vw;
	text-align: left;
	border:1px solid rgba(0,0,0,0.4);
	margin-top: 10vw;
}
.settingBigDiv .settingDiv h4{
	display: inline-block;
	float: right;
	margin-top: 4vw;
}
.settingBigDiv .settingDiv .infoDiv .infoRow{
	width: 100vw;
	height: 12vw;
	border-bottom: 1px solid rgba(0,0,0,0.1);
}
.settingBigDiv .settingDiv .infoDiv .infoRow .infoInput{
	max-width: 80vw;
	min-height: 5vw;
	font-size: 4vw;
	padding: 3vw 5vw;
	text-align: left;
	border-left:1px solid rgba(0,0,0,0.3);
}
.settingBigDiv .settingDiv .infoDiv .button{
	padding: 2vw 3vw;
	background: #111d6d;
	color: #ffffff;
	border-radius: 1vw;
	font-size: 4.5vw;
}

.settingBigDiv .settingDiv .factoryCard{
	border:1px solid #111d6d;
	padding: 3vw;
	position: relative;
	margin: 7vw auto;
	min-height: 130px;
	width: 70vw;
}
.settingBigDiv .settingDiv .factoryCard .ooeSettingDiv{
	width: 100%;
	height: 60px;
}
.settingBigDiv .settingDiv .factoryCard .ooeSettingDiv .ooeTimeSetDiv{
	font-size: 3vw;
	margin: 5vw auto;
	text-align: center;
}
.settingBigDiv .settingDiv .factoryCard .ooeSettingDiv .timeClass{
	background: #eeeeee;
	color: #000000;
	font-size: 4vw;
	width: 10vw;
	height: 5vw;
	text-align: center;
	border-radius: 0;
}
.settingBigDiv .settingDiv .factoryCard .fDetails{
	position: absolute;
	left: 5vw;
	bottom: 5vw;
	font-size: 3.5vw;
}