<!DOCTYPE html>
<html ng-app="SyntecRemoteWeb">
<head>
	<!-- meta -->
	<?php if($this->meta){include_once $this->meta;} ?>

	<title>SyntecRemote</title>

	<!-- import javascript libs -->
	<script type="text/javascript" src="<?php echo WEB_URL; ?>js/lib/angular.js"></script><!-- angularJS -->
	<script type="text/javascript" src="<?php echo WEB_URL; ?>js/lib/angular-route.js"></script><!-- angularRouteJS -->
	<!--  <script type="text/javascript" src="<?php echo WEB_URL; ?>js/lib/angular-animate.js"></script>  angularAnimateJS -->
	<script type="text/javascript" src="<?php echo WEB_URL; ?>js/lib/scrollglue.js"></script>

	<script type="text/javascript" src="<?php echo WEB_URL; ?>js/lib/jquery-1.9.1.js"></script><!-- jQuery -->
	<script type="text/javascript" src="<?php echo WEB_URL; ?>js/main.js"></script><!--  -->
	<script type="text/javascript" src="<?php echo WEB_URL; ?>js/publicFunction.js"></script>

	<!-- import css -->
	<?php if($this->viewDevice == "mobile"){ ?>
		<link rel="stylesheet" type="text/css" href="<?php echo WEB_URL; ?>css/mobile/layout.css">
	<?php }elseif($this->viewDevice == "web"){ ?>
		<link rel="stylesheet" type="text/css" href="<?php echo WEB_URL; ?>css/web/layout.css">
	<?php } ?>

	<link rel="stylesheet" type="text/css" href="<?php echo WEB_URL; ?>css/font.css">

</head>
<body ng-controller="MainController">
	<?php if( isset($_SESSION['RemoteViewer']['companyInfo']) ){ ?>
	
		<!-- top page -->
		<?php if($this->topHtml){include_once $this->topHtml;} ?>

	<?php } ?>
	
	<div class="Page" ng-view></div>
	<div class="content">
	<!-- content page -->
	<?php if($this->contentHtml){include_once $this->contentHtml;} ?>
	
	</div>

	<?php if( isset($_SESSION['RemoteViewer']['companyInfo']) ){ ?>
		<!-- footer page -->
		<?php if($this->footerHtml){include_once $this->footerHtml;} ?>
	<?php } ?>

</body>
</html>