<!-- load specific js and css -->
<script type="text/javascript" src="<?php echo WEB_URL."js/syntec_cncData.js"; ?>"></script>

<input type="hidden" ng-init="initCncid=<?php echo $this->cncid; ?>">
<input type="hidden" ng-init="initGid='<?php echo $this->gid; ?>'">

<div class="factoryDiv" ng-controller="SyntecCnc">
	<!-- get cnc data from DB -->
	<input type="hidden" ng-init="initCncDetail()">

	<div class="factoryTitle">
		<span class="factoryName">
			<span class="factoryIcon"></span>
			<a ng-href="index.php">{{thisFactoryName}}</a> > 
			<a ng-href="cncGroup.php?group={{gid}}">{{thisGroupName}}</a> > 
			<a ng-href="cnc.php?cnc={{thisCnc.id}}">{{thisCnc.serialNo}}</a>
		</span>
	</div>

	<div class="cncStatus">
		<div class="currentStatus">
			<span class="statusName" ng-style="statusLight.fontColor">{{statusLight.msg}}</span><br>
			<span class="lastUpdateDate">最後更新時間：</span>
		</div>

		<div class="cncDetail" ng-style="statusLight.style">
			<div class="cncImage">
				<img src="http://www.syntecclub.com.tw/UpDownFiles/Product_pic/PIC_635368656631875000.jpg">
			</div>
			<div class="cncInfo">
				<ul class="cncInfoList">
					<li>
						序號：{{thisCnc.serialNo}}<br>
						機型：{{thisCnc.machineType}}<br>
						版本：{{thisCnc.version}}<br>
						到期日：{{thisCnc.dueDate}}
						<hr class="hr">
					</li>
				</ul>
			</div>
		</div>

	</div>

	<div class="cncTabInfo">

		<ul class="tabTitle">
			<a href="javascript:;" id="status" ng-click="changeToStatus()" ng-style="statusTabBG"><li>控制器狀態</li></a>
			<a href="javascript:;" id="alarm" ng-click="changeToAlarm()" ng-style="alramTabBG"><li>警報資訊</li></a>
			<a href="javascript:;" id="record" ng-click="changeToRecord()" ng-style="recordTabBG"><li>加工紀錄</li></a>
		</ul>

		<div class="cncStatusDiv" ng-show="tabCode==0">
			<ul>
				<li>狀態：{{cncStatus.status}}</li>
				<li>模式：{{cncStatus.mode}}</li>
				<li>警報：{{cncStatus.alarm}}</li>
				<li>EMG：{{cncStatus.EMG}}</li>
				<li>主程式：{{cncStatus.MainProg}}</li>
				<li>加工檔：{{cncStatus.CurProg}}</li>
			</ul>
		</div>
		<div class="cncAlarmDiv" ng-show="tabCode==1">Alarm</div>
		<div class="cncRecordDiv" ng-show="tabCode==2">Record</div>

	</div>
	
</div>