<!-- load specific js and css -->
<script type="text/javascript" src="<?php echo WEB_URL."js/syntec_factoryData.js"; ?>"></script>

<div ng-controller="SyntecFactory">

	<div class="factoryDiv" ng-repeat="f in factories">
		<div class="factoryTitle">
			<span class="factoryName"><span class="factoryIcon"></span>{{f.name}}</span>
		</div>
		<div class="cncGroupDiv">
			<ul class="cncGroupUl">
				<a ng-href="cncGroup.php?group={{group.gid}}" ng-repeat="group in cncGroups" ng-if="group.fid === f.fid">
					<li>
						{{group.name}}<br>
						{{group.cncNumber}}台<br><br>
						控制器狀態：
						<div class="GStatusBar" ng-if="group.cncNumber != 0">
							<div class="StatusElement GreenStatus" ng-style="group.GreenBarWidth"><span>{{group.GreenNum}}</span></div>
							<div class="StatusElement YellowStatus" ng-style="group.YellowBarWidth"><span>{{group.YellowNum}}</span></div>
							<div class="StatusElement RedStatus" ng-style="group.RedBarWidth"><span>{{group.RedNum}}</span></div>
						</div>
					</li>
				</a>
			</ul>
		</div>
	</div>

</div>
