<!-- load specific css/js only for this page -->
<link rel="stylesheet" type="text/css" href="css/mobile/factoryList.css">

<div class="facGopBigDiv" ng-controller="SyntecDashboard">
	<!-- the show list -->
	<input type="hidden" ng-init="InitData()">

	<ul class="statusListView">
		<li ng-repeat="status in ENUM_Status" ng-style="{'background':status.color}">
			{{status.name}}
		</li>
	</ul>

	<div class="factoryListView" ng-repeat="f in factories">

		<h3 style="text-align: left;position: absolute;top: -5vw;background: #ffffff;padding: 0 1vw 2vw 2vw;">{{f.factoryName}}</h3>
		<ul class="factoryList">
			<div ng-repeat="g in f.groups" title="{{g.groupName}}">
				<li class="groupLI">
					<h4 class="groupName" ng-if="g.groupName != null">{{g.groupName}}</h4>
					<span class="gTotalCNC">{{g.cncs.length}}台</span>

					<!--  cnc info -->
					<div class="fEachStatus">
						<ul class="gStatusBar">
							<a href="#/cnc/{{cnc['nCNCID']}}" ng-repeat="cnc in FindGroupCNCs(g.cncs)"><li ng-style="{'background':fnCNCStatusColorStyle(cnc.cncStatus), 'float':'left'}">
								<span style="font-size:4vw;">{{fnCNCStatusName(cnc.cncStatus,'cht')}}</span>
								<p ng-repeat="(dataKey,dataValue) in cnc.aryData">
									<span style="color:#A0A0A0">{{fnShowTitle(dataKey)}}</span>
									<span>{{fnShowValue(dataValue)}}</span>
								</p>
							</li></a>
						</ul>
					</div>

				</li>
			</div>
		</ul>
	
	</div>

</div>