.factoryListView{
	width: 100%;
	height: auto;
	margin-top: 80px;
}

.factoryListView .statusListView{
	list-style: none;
	text-align: center;
}
.factoryListView .statusListView li{
	display: inline-block;
	width: 100px;
	text-align: center;
	padding: 7px 5px;
	border-radius: 5px;
	margin: 10px 25px;
	font-size: 15px;
}

.factoryDiv{
	border:1px solid rgba(17,29,109,0.5);
	width: 98%;
	margin: auto;
	min-height: 250px;
	margin-top: 50px;
	padding:10px 10px;
}

.factoryDiv .groupView{
	list-style: none;
	width: 98%;
	margin-left: 3%;
}
.factoryDiv .groupView .groupLI{
	display: block;
	width: 80%;
	min-height: 130px;
	margin: 10px 5%;
	position: relative;
	border-bottom:1px solid rgba(17,29,109,0.5);
	overflow: hidden;
}
.factoryDiv .groupView a{color: #888888;}
/*.factoryDiv .groupView li:hover .bgBlack{right: 0px;}*/
.factoryDiv .groupView li .groupName{
	position: relative;
	margin-top: 20px;
	font-weight: 800;
}
.factoryDiv .groupView li .IPCAM{
	position: absolute;
	top: 15px;
	right: 15px;
}
.factoryDiv .groupView li .gStatusOfCNC{
	position: relative;
}
.factoryDiv .groupView li .bgBlack{
	width: 250px;
	height: 100%;
	background: rgba(17,29,109,0.7);
	position: absolute;
	z-index: 12;
	right: -250px;
	top: 0;
}
.gStatusOfCNC .gStatusBar{
	list-style: none;
	margin-top: 15px;
}
.gStatusOfCNC .gStatusBar li{
	width: 90px;
	height: 90px;
	border-radius: 3px;
	margin: 0px 10px 5px 0px;
	text-align: center;
	font-size: 9px;
	line-height: 25px;
	font-weight: 700;
	color: #000000;
	display: inline-table;
}
.factoryDiv .groupView li .gOOE{
	position: absolute;
	right: 7px;
	bottom: 17px;
	font-size: 35px;
	font-family: 'Poiret One', cursive;
	font-weight: 900;
	color: #000000;
}
.factoryDiv .groupView li .gTotalCNC{
	position: absolute;
	right: 25px;
	bottom: 60px;
	color: #000000;
}