.settingBigDiv{
	width: 1024px;
	min-height: 770px;
	margin-top: 100px;
	padding: 30px;
	border:1px solid rgba(0,0,0,0.2);
	background: #ffffff;
	position: relative;
	overflow: hidden;
}
.settingBigDiv .backLink{
	position: absolute;
	top: -15px;
	color: #000000;
}
.settingBigDiv .back_icon{
	display: inline-block;
	width: 30px;
	height: 30px;
	background: url(../../images/back_icon.png);
	background-repeat: no-repeat;
	background-size: 30px auto;
}

.settingBigDiv .layoutListLeftDiv{
	position: absolute;
	top: 0px;
	left: -210px;
	background: #FFEC94;
	width: 200px;
	min-height:770px;
	padding: 30px 8px;
	text-align: center;
	z-index: 8;
}
.settingBigDiv .layoutListLeftDiv .deleteIcon{
	display: inline-block;
	margin-top: 5px;
	width: 15px;
	height: 15px;
	background-repeat: no-repeat;
	background-size: 15px auto;
	background-image: url('../../images/redCloseIcon.png');
}
.settingBigDiv .layoutListLeftDiv .myLayoutList{
	margin-top: 30px;
	background: #ffffff;
	width:200px;
	height: auto;
	list-style: none;
	text-align: left;
}
.settingBigDiv .layoutListLeftDiv .myLayoutList li{
	padding:7px;
	color: #888888;
}
.settingBigDiv .layoutListLeftDiv .myLayoutList li:hover{
	background: #FFF8D7;
}
.settingBigDiv .layoutListLeftDiv .layoutTag{
	position: absolute;
	left: 215px;
	width: 80px;
	text-align: right;
	padding:3px 10px 3px 0px;
	color: #000000;
}
.settingBigDiv .layoutListLeftDiv .layoutTag:hover{
	width: 90px;
}
.settingBigDiv .layoutListLeftDiv .funListSelectorIcon{
	display: inline-block;
	margin-top: 15px;
	margin-left: 7px;
}
.settingBigDiv .layoutListLeftDiv .funListSelectorIcon span{
	display: inline-block;
	width: 25px;
	height: 25px;
	background-repeat: no-repeat;
	background-size: 25px auto;
}
.settingBigDiv .layoutListLeftDiv .funListSelectorIcon #squareicon{
	background-image: url('../../images/squareIcon.png');
}
.settingBigDiv .layoutListLeftDiv .funListSelectorIcon #listicon{
	background-image: url('../../images/listIcon.png');
}
.settingBigDiv .layoutListLeftDiv .FunListItemDiv{
	margin-top: 30px;
	background: #ffffff;
	width:200px;
	height: 600px;
	overflow: auto;
	list-style: none;
	text-align: left;
}
.settingBigDiv .layoutListLeftDiv .FunListItemDiv li{
	position: relative;
	padding:7px;
	color: #888888;
	height:30px;
}
.settingBigDiv .layoutListLeftDiv .FunListItemDiv li:hover{
	cursor: pointer;
	background: #B7F9CA;
}

.settingBigDiv .layoutListLeftDiv .myCustomCom{
	margin-top: 30px;
	background: #ffffff;
	width:200px;
	height: 600px;
	overflow: auto;
	list-style: none;
	text-align: left;
}
.settingBigDiv .layoutListLeftDiv .myCustomCom li{
	position: relative;
	padding:7px;
	color: #888888;
	height:30px;
}
.settingBigDiv .layoutListLeftDiv .myCustomCom li:hover{
	cursor: pointer;
	background: #FFC3C5;
}
.selectComponentType{
	font-size: 12px;
	padding:5px 7px;
	background:#000;
	color: #fff;
	margin-left: 7px;
}
.hintText{
	position: absolute;
	left: 2px;
	top: 2px;
	font-size: 9px;
}
.inputRename{
	margin-top: 10px;
	padding:3px 7px;
	font-size: 12px;
	border-bottom: 1px solid #000;
	text-align: center;
}

.layoutSettingDiv{
	float: right;
	position: relative;
	width: 900px;
	height: 730px;
	padding: 15px;
	border:1px solid #000000;
}
.layoutSettingDiv .layoutTitle{
	/*background:#eeeeee;*/
	font-size: 22px;
	text-align: right;
	border-bottom:1px solid #000000;
}
.layoutSettingDiv .layoutViewDiv{
	float: right;
	padding: 10px;
	margin-top: 10px;
}
.layoutSettingDiv .listViewDiv{
	width: 800px;
	height: 150px;
	border-bottom:1px solid rgba(0,0,0,0.2);
}
.layoutSettingDiv .listViewDiv .listViewItems{
	width: 100%;
	height: 55px;
	margin-top: 80px;
	background: #22B14C;
	border:1px solid #177031;
	list-style: none;
}
.layoutSettingDiv .listViewDiv .listViewItems li{
	width: 9%;
	height: 41px;
	margin-top: 7px;
	margin-left: 5.5px;
	border:1px solid #fff;
	display: inline-block;
	float: left;
	line-height: 40px;
	font-size: 13px;
	text-align: center;
	overflow-x: hidden;
	text-overflow: ellipsis;
	position: relative;
}
.layoutSettingDiv .listViewDiv .listViewItems li:hover{
	cursor: pointer;
	box-shadow: 0px 1px 7px #084018;
}
.layoutSettingDiv .bigViewDiv{
	width: 800px;
	height: 450px;
}
.layoutSettingDiv .bigViewDiv .bigVIewItems{
	width: 300px;
	height: 435px;
	margin: auto;
	border:1px solid #177031;
}
.layoutSettingDiv .bigViewDiv .bigVIewItems .innerItems{
	float: left;
	width: 300px;
	height: 325px;
	background: #22B14C;
}
.layoutSettingDiv .bigViewDiv .bigVIewItems .itemsCube{
	float: left;
	list-style: none;
	width: 100%;
	height: 100px;
	margin: auto;
	margin-top: 7px;
}
.layoutSettingDiv .bigViewDiv .bigVIewItems .itemsCube li{
	/*display: inline-block;*/
	float: left;
	position: relative;
	margin-left: 2.5%;
	margin-top: 5px;
	border:1px solid #000;
	text-align: center;
	font-size: 12px;
	width: 45%;
	height: 40px;
	line-height: 38px;
}
.layoutSettingDiv .bigViewDiv .bigVIewItems .itemsCube li:hover{
	cursor: pointer;
	box-shadow: 0px 1px 7px #084018;
}
.layoutSettingDiv .bigViewDiv .bigVIewItems .objNametitle{
	font-size: 15px;
	font-weight: 700;
}
.layoutSettingDiv .bigViewDiv .bigVIewItems  .objSizeDetail{
	position: absolute;
	right: 5px;
	bottom: -10px;
	color: #fff;
	font-size: 9px;
}
.layoutSettingDiv .saveLayoutBtn{
	position: absolute;
	right: 30px;
	bottom: 20px;
	padding:10px 12px;
	background: #4F4F4F;
	color: #fff;
}
.layoutSettingDiv .deleteLayoutBtn{
	position: absolute;
	right: 121px;
	bottom: 20px;
	padding:10px 12px;
	background: #ED575D;
	color: #fff;
}
.layoutSettingDiv .errorMsg{
	position: absolute;
	right: 30px;
	bottom: 80px;
	color: red;
	font-size: 14px;
}