

<div class="fileTransferDiv" ng-controller="cncFileTransfer">
	
	<input type="hidden" ng-init="setFileParam(curtFileUnit)">

	<div class="choseFileTransUnitDiv">
		<span style="font-size: 9px">顯示單位</span>
		<span class="UnitChose" ng-repeat="(key, value) in FileUnits" title="{{value.name}}" ng-style="{'background':value.bgColor, 'color':value.fontColor}" ng-click="setFileParam(key)">{{value.name}}</span>
	</div>

	<div class="fileTransDiv" ng-show="fnIsShowPage(true,'NcFile')">
		<h3>{{FileUnits[curtFileUnit]['name']}}</h3>
		<div style="width:700px;height:330px;overflow:auto;">
			<table class="cncFilesTable" border="1">
				<tr style="background:#62000F;table-layout: fixed;font-weight: 700;color:#fff;">
					<td>檔案名稱</td>
					<td>檔案大小</td>
					<td>建立時間</td>
				</tr>
				<tr ng-repeat="file in fileList | orderBy:'no'" ng-style="SelectFileStyle(file)" ng-click="SelectFile(file)">
					<td>{{file.name}}</td>
					<td>{{file.size}}K</td>
					<td>{{file.date}}</td>
				</tr>
				<tr ng-show="fileList.length == 0">
					<td></td>
					<td>無加工檔</td>
					<td></td>
				</tr>
			</table>
		</div>
		<div class="fileTransBtnDiv">
			<ul style="position:absolute;width:250px;top:-30px;font-size:12px;" ng-show="isSelectedFile()">
				<li><label>檔名：</label>{{fileTransCmd['SelectedFile'].name}}</li>
				<li><label>大小：</label>{{fileTransCmd['SelectedFile'].size}}K</li>
				<li><label>日期：</label>{{fileTransCmd['SelectedFile'].date}}</li>
			</ul>
			<input type="file" id="fileupload" accept="{{FileUnits[curtFileUnit]['acceptFile']}}" style="display:none;" onchange="angular.element(this).scope().UploadFile(this.files)" />
			<ul class="btnListUi">
				<a href="javascript:;" title="更新列表" ng-click="RefreshNcList()"><li>更新列表</li></a>
				<a href="javascript:;" title="上傳檔案" ng-click="OpenUploadFileDialog()"><li>上傳檔案</li></a>
				<a href="javascript:;" title="下載檔案" id="downloadFile" ng-click="DownloadNCFile()" ng-show="isSelectedFile()"><li>下載檔案</li></a>
			</ul>
		</div>
	</div>

	<div class="fileTransDiv" ng-show="fnIsShowPage(true,'Ladder')">
		<h3>{{FileUnits[curtFileUnit]['name']}}</h3>
		<div class="fileTransBtnDiv">
			<ul class="btnListUi">
				<a href="javascript:;" title="下載檔案" id="downloadFile" ng-click="DownloadLadFile()"><li>下載檔案</li></a>
			</ul>
		</div>
	</div>

	<div class="ErrorMsg" ng-show="fnIsShowPage(false)"  ng-style="{'color':FileUnits[curtFileUnit]['bgColor']}" ng-click="fnDownloadAgentFile()" >Agent_{{$root.szSupportVersion['API']}}_{{$root.szSupportVersion['AGENT']}}才可以支援</div>

	<div class="infoBG" ng-style="HintStyle()" style="display:none;" id="infoBG">
		<a href="javascript:;" style="color:#fff;position:absolute;top:-15px;right:50px;font-size:15px;" ng-click="FileHint=''">關閉</a>{{FileHint}} {{nListenResultTimes}}
	</div>
	
</div>