<!--
1. 目前警報 true/false
2. 歷史警報 (序號, 模組, 號碼, 發生時間, 警報內容) 
3. 警報統計 (各模組出現的次數, 警報內容出現次數 ((由多到少、依時間選取
-->

<div class="alarmDiv" ng-controller="cncAlarm">

	<input type="hidden" ng-init="setAlmParam(curtAlmUnit)">

	<div class="choseAlmUnitDiv">
		<span style="font-size: 9px">顯示選擇</span>
		<span class="UnitChose" title="{{value.name}}"
		ng-repeat="(key, value) in alarmUnit"
		ng-if="value.display"  
		ng-style="{'background':value.bgColor, 'color':value.fontColor}"
		ng-click="setAlmParam(key)"
		>{{value.name}}</span>
	</div>

	<div class="unitAlmDiv" ng-show="fnIsShowPage(true,'curtAlm')">
		<ul>
			<li ng-repeat="alm in curtAlm" ng-if="curtAlm.length != 0">
				<div class="almInfo">
					<p>{{alm.module}}</p>
					<p>{{alm.no}}</p>	
				</div>
				<span class="content">{{alm.content}}</span>
				<span class="timestamp">{{alm.time}}</span>
			</li>
			<li ng-if="curtAlm.length == 0">
				<span class="content">目前無警報</span>
			</li>
		</ul>
	</div>

	<div class="unitAlmDiv" ng-show="fnIsShowPage(true,'hisAlm')">
		<table border="1" style="width:100%;border-collapse: collapse;text-align: center;">
			<tr style="background:#FF4545;table-layout: fixed;font-weight: 700;">
				<td>序號</td>
				<td>模組</td> 
				<td>號碼</td>
				<td>警報內容</td>
				<td>發生時間</td>
			</tr>
			<tr ng-repeat="alm in hisAlm" ng-if="hisAlm.length != 0">
				<td style="font-size: 12px;">{{$index+1}}</td>
				<td style="font-size: 14px;">{{alm.module}}</td> 
				<td style="font-size: 14px;">{{alm.no}}</td>
				<td style="font-size: 18px;width: 50%;">{{alm.content}}</td>
				<td style="font-size: 14px;">{{alm.time}}</td>
			</tr>
			<tr ng-if="hisAlm.length == 0">
				<td style="font-size: 12px;"></td>
				<td style="font-size: 14px;"></td> 
				<td style="font-size: 14px;"></td>
				<td style="font-size: 18px;width: 50%;">無歷史警報</td>
				<td style="font-size: 14px;"></td>
			</tr>
		</table>
	</div>

	<div class="unitAlmDiv" ng-show="fnIsShowPage(true,'anlyzAlm')" style="overflow: hidden;" scroll-glue-bottom="glued">
		<h3 id="quote">資料是由歷史警報進行統計 | 共{{hisAlm.length}}筆</h3>
		<div class="almChart moduleChart"></div>
		<div class="almChart contentChart"></div>
	</div>

	<div class="ErrorMsg" ng-show="fnIsShowPage(false)" ng-style="{'color':alarmUnit[curtAlmUnit]['bgColor']}" ng-click="fnDownloadAgentFile()" >Agent_{{$root.szSupportVersion['API']}}_{{$root.szSupportVersion['AGENT']}}才可以支援</div>

</div>