<!-- load specific css/js only for this page -->
<?php if($this->viewDevice == "mobile"){ ?>
	<link rel="stylesheet" type="text/css" href="<?php echo WEB_URL; ?>css/mobile/factoryList.css">
<?php }elseif($this->viewDevice == "web"){ ?>
	<link rel="stylesheet" type="text/css" href="<?php echo WEB_URL; ?>css/web/factoryList.css">
<?php } ?>
	<script src="<?php echo WEB_URL; ?>js/factory.js" type="text/javascript"></script>

<div class="facGopBigDiv" ng-controller="factoryControl">
	<!-- the show list -->
	<input type="hidden" ng-init="userMode = '<?php echo $this->userMode; ?>'">
	<input type="hidden" ng-init='userShowList = <?php echo $this->userDefinedShowList; ?>'>
	<input type="hidden" ng-init='Void_initFactoryData()'>

	<ul class="statusListView">
		<li ng-repeat="status in ENUM_Status" ng-style="{'background':status.color}">
			{{status.name}}
		</li>
	</ul>

	<div class="factoryListView" ng-repeat="f in factories">

		<h3 style="text-align: left;position: absolute;top: -5vw;background: #ffffff;padding: 0 1vw 2vw 2vw;">{{f.fName}}</h3>
		<ul class="factoryList">
			<a href="group{{g.gID}}" ng-repeat="g in groups | filter:{'Group_fID':f.fID}" title="{{g.gName}}">
				<li class="groupLI">
					<h4 class="groupName" ng-if="g.gName != null">{{g.gName}}</h4>
					<span class="gTotalCNC" ng-if="g.gTotalCNC != null">{{g.gTotalCNC}}台</span>
					<h4 class="IPCAM" ng-if="g.gIPCAM != null">
						<span ng-if="g.gIPCAM">Live</span>
						<span ng-if="!g.gIPCAM">Offline</span>
					</h4>
					<div class="fEachStatus">
						<ul class="gStatusBar">
							<li ng-repeat="data in g.gStatusOfCnc" ng-if="data.num != 0" ng-style="{'background':cncBGColor(data)}">{{cncStatusName(data.cncStatus)}}<br>{{data.cncName}}<br>{{data.cncMainProg}}</li>
						</ul>
					</div>
					<h2 class="gOOE" ng-if="g.gOOE !== ''">{{g.gOOE | round}}%</h2>
					<h2 class="gOOE" ng-if="g.gOOE === ''">　</h2>
				</li>
			</a>
		</ul>
	
	</div>

</div>