<!-- load specific css/js only for this page -->
<?php if($this->viewDevice == "mobile"){ ?>
	<link rel="stylesheet" type="text/css" href="<?php echo WEB_URL; ?>css/mobile/settingCSS.css">
<?php }elseif($this->viewDevice == "web"){ ?>
	<link rel="stylesheet" type="text/css" href="<?php echo WEB_URL; ?>css/web/settingCSS.css">
<?php } ?>
	<script src="<?php echo WEB_URL; ?>js/account.js" type="text/javascript"></script>

<div class="limitWebView settingBigDiv" ng-controller="SyntecAccount">
	<input type="hidden" ng-init="initSettingData()">
	
	<a href="javascript:history.back();" title="返回" class="backLink">
		<span class="back_icon"></span>
		<span style="position: absolute;font-size: 5vw;">返回</span>
	</a>
	
	<h3 style="text-align: center;margin-bottom: 2vw;">設定</h3>
	
	<div class="settingDiv">

		<div class="settingSubTitle">
			<img src="images/usericon.png" width="50vw">
			<h4>使用者資訊</h4>
		</div>

		<div class="infoDiv">
			<table border="2" style="width:90%;border-collapse: collapse;margin: 50px auto 0px auto;">
				<tr class="infoRow" ng-repeat="(userKey, value) in userInfo">
					<td style="text-align: right;padding-right: 5vw;font-size: 4vw;white-space: nowrap;">{{value.name}}</td>
					<td style="text-align: left;">
						<input class="infoInput" style="background:#eeeeee;border-radius: 0;" type="password" ng-model="value.data" placeholder="" ng-if="userKey == 'newPassword'" ng-enter="changePwd(value.data)" placeholder="新密碼">
						<p class="infoInput" type="text" placeholder="" ng-if="userKey != 'newPassword'">{{value.data}}</p>
					</td>
				</tr>
			</table>
			<p style="color:red;font-size: 4vw;text-align: center;margin-top: 2vw;" ng-show="userInfo['newPassword'].data.length != 0">下次登入請用新密碼</p>
			<p style="color:red;font-size: 4vw;text-align: center;margin-top: 2vw;">{{errorMsg}}</p>
			<div style="margin-top: 5vw;margin-bottom: 5vw;text-align: center;">
				<a href="javascript:;" class="button" title="更改密碼" ng-show="userInfo['newPassword'].data.length != 0" ng-click="changePwd(userInfo['newPassword'].data)">更改密碼</a>
			</div>
		</div>

	</div>

	<div class="settingDiv">

		<div class="settingSubTitle">
			<img src="data:image/PNG;base64,<?php echo base64_encode($_SESSION['RemoteViewer']['companyInfo']['img']); ?>" width="50vw">
			<h4>工廠資訊</h4>
		</div>

		<div class="infoDiv" style="margin-top: 17vw;">
			<div class="factoryCard" ng-repeat="f in factoryInfo">
				<img src="images/IconBlue.ico" title="工廠圖片" width="35vw" height="35vw">
				<h3 title="工廠名稱" style="float:right;font-size: 5vw;">{{f.name}}</h3>
				<div class="ooeSettingDiv">
					<div class="ooeTimeSetDiv">
						<span>預計每日工時</span>
						<input type="text" class="timeClass" placeholder="時" ng-model="f.workOfDay['hour']" ng-change="isValidTime(f)">
						<input type="text" class="timeClass" placeholder="分" ng-model="f.workOfDay['minute']" ng-change="isValidTime(f)">
						<input type="text" class="timeClass" placeholder="秒" ng-model="f.workOfDay['second']" ng-change="isValidTime(f)">
					</div>
				</div>
				<div class="fDetails">
					<p>{{f.address}}</p>
					<p>{{f.tel}}</p>
				</div>
				<a href="javascript:;" class="button" style="padding:5px 7px;font-size: 3vw;position: absolute;right: 6vw;bottom: 5vw;border-radius: 1vw;" title="更改稼動率"ng-show="f.isValidTimeUnit" ng-click="setOOE(f)">修改預計每日工時</a>
			</div>
		</div>
	</div>

</div>