<!DOCTYPE html>
<html ng-app="SyntecRemoteWeb">
<head>
	<!-- meta -->
	<?php if($this->meta){include_once $this->meta;} ?>

	<title>SyntecRemote</title>

	<!-- import javascript libs -->
	<script type="text/javascript" src="js/lib/angular.js"></script><!-- angularJS -->
	<script type="text/javascript" src="js/lib/jquery-1.9.1.js"></script><!-- jQuery -->
	<script type="text/javascript" src="js/layout.js"></script><!--  -->

	<!-- import css -->
	<link rel="stylesheet" type="text/css" media="screen and (max-width : 800px)" href="css/layout_under1024.css"><!-- for screen < 800px -->
	<link rel="stylesheet" type="text/css" media="screen and (min-width : 800px)" href="css/layout_over1024.css"><!-- for screen > 800px -->

</head>
<body ng-controller="SyntecRemote">
	<?php if( isset($_SESSION['companyInfo']) ){ ?>
	
		<!-- top page -->
		<?php if($this->topHtml){include_once $this->topHtml;} ?>

	<?php } ?>
	
	<div class="content">
	<!-- content page -->
	<?php if($this->contentHtml){include_once $this->contentHtml;} ?>
	
	</div>

	<?php if( isset($_SESSION['companyInfo']) ){ ?>
		<!-- footer page -->
		<?php if($this->footerHtml){include_once $this->footerHtml;} ?>
	<?php } ?>

</body>
</html>