<!-- get data from DB -->
<input type="hidden" ng-init="initFactoryNGroup();">

<div class="menuDiv" ng-show="isShowMenu">
	<div class="topTriangle"></div>
	<div class="menuList">
		<ul class="menuFactory" ng-repeat="f in factories">
			<li class="fName">{{f.name}}</li>
			<ul class="menuCncGroup">
				<a ng-href="cncGroup.php?group={{group.gid}}" class="menuCncGName" ng-repeat="group in cncGroups" ng-if="group.fid === f.fid">
					<li>{{group.name}}</li>
				</a>
			</ul>
		</ul>
	</div>
</div>

<div class="topDiv">
	<div class="menuIcon" ng-click="showMenum()">
		<div class="row rowTop" ng-hide="isShowMenu"></div>
		<div class="row rowMid" ng-hide="isShowMenu"></div>
		<div class="row rowBot" ng-hide="isShowMenu"></div>
		<div class="cross" id="crossOne" ng-show="isShowMenu"></div>
		<div class="cross" id="crossTwo" ng-show="isShowMenu"></div>
	</div>
	<div class="logo"></div>
	<a href="javascript:;" class="logBtn" ng-click="logout()">登出</a>
</div>
