<style>
	.resultDiv{width: 100%;min-height: 710px;background: #ffffff;border-radius: 3px;margin-top: 30px;padding: 20px;text-align: left;}
	.resultDiv .searchResult{margin-left: 20px;width: 80%;margin: auto;}
	.resultDiv .searchResult .resultBigDiv{border-bottom: 1px solid rgba(0,0,0,0.1);margin: 20px;}
	.resultUl{list-style: none;margin-left: 50px;width: 80%;height: auto;}
	.resultUl li{margin: 20px 0px 20px 15px;max-width: 300px;height: auto;}
	.resultUl .title:hover{text-decoration: underline;}
	a:visited{color:blue;}
</style>

<div class="limitWebView" style="text-align: center;margin-top: 50px;">
	
	<h3>您可以搜尋 工廠名稱、群組名稱、控制器名稱、控制器序號 等等...</h3>

	<div class="resultDiv">
		<div class="searchResult" ng-repeat="(key,result) in searchResult">
			<div class="resultBigDiv" ng-if="key == 'factory'">
				<h4>「工廠」搜尋結果</h4>
				<ul class="resultUl">
					<li ng-repeat="r in result">
						<a class="title" href="factory.php?factory={{r.id}}">{{r.name}}</a>
						<p class="detail" style="width:300px;white-space: normal;">{{r.addr}}</p>
						<p class="moreInfo">廠內組別 : {{r.nGroup}} 廠內控制器 : {{r.nCNC}}</p>
					</li>
				</ul>
			</div>
			<div class="resultBigDiv" ng-if="key == 'group'">
				<h4>「組別」搜尋結果</h4>
				<ul class="resultUl">
					<li ng-repeat="r in result">
						<a class="title" href="group.php?group={{r.id}}" title="">{{r.name}}</a>
						<p class="detail">屬於 {{r.fName}}</p>
						<p class="moreInfo">組內控制器 : {{r.nCNC}}</p>
					</li>
				</ul>
			</div>
			<div class="resultBigDiv" ng-if="key == 'cnc'">
				<h4>「控制器」搜尋結果</h4>
				<ul class="resultUl">
					<li ng-repeat="r in result">
						<a class="title" href="cnc.php?cnc={{r.id}}" title="">{{r.name}}</a>
						<p class="detail">屬於 {{r.fName}} - {{r.gName}}</p>
						<p class="moreInfo">目前狀態 : {{r.status}}</p>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
