

<div class="fileTransferDiv" ng-controller="cncFileTransfer">
	
	<input type="hidden" ng-init="setFileParam(curtFileUnit)">

	<div class="choseFileTransUnitDiv">
		<span style="font-size: 9px">顯示單位</span>
		<span class="UnitChose" ng-repeat="(key, value) in FileUnits" title="{{value.name}}" ng-style="{'background':value.bgColor, 'color':value.fontColor}" ng-click="setFileParam(key)">{{value.name}}</span>
	</div>

	<div class="fileTransDiv" ng-show="curtFileUnit == 'NcFile' ">
		<h3>{{FileUnits[curtFileUnit]['name']}}</h3>
		<div>
			<p style="margin-left:120px;">{{FileUnits[curtFileUnit]['name']}}列表，共{{fileList.length}}個檔案</p>
			<div class="cncFilesDiv">
				<ul>
					<a href="javascript:;" title="{{file.name}}" ng-repeat="file in fileList" ng-focus="SelectFile(file)"><li ng-style="SelectFileStyle(file)">{{file.name}}</li></a>
				</ul>
			</div>
		</div>
		<div class="fileTransBtnDiv">
			<ul style="position:absolute;width:250px;top:-30px;" ng-show="isSelectedFile()">
				<li><label>檔名：</label>{{fileTransCmd['SelectedFile'].name}}</li>
				<li><label>大小：</label>{{fileTransCmd['SelectedFile'].size}}K</li>
				<li><label>日期：</label>{{fileTransCmd['SelectedFile'].date}}</li>
			</ul>
			<input type="file" id="fileupload" accept="{{FileUnits[curtFileUnit]['acceptFile']}}" style="display:none;" onchange="angular.element(this).scope().UploadFile(this.files)" />
			<ul class="btnListUi">
				<a href="javascript:;" title="更新列表" ng-click="RefreshNcList()"><li>更新列表</li></a>
				<a href="javascript:;" title="上傳檔案" ng-click="OpenUploadFileDialog()"><li>上傳檔案</li></a>
				<a href="javascript:;" title="下載檔案" id="downloadFile" ng-click="DownloadFile()" ng-show="isSelectedFile()"><li>下載檔案</li></a>
			</ul>
		</div>
		{{uploadFile['progress']}}
	</div>

	
</div>